:root {
    --cor-de-fundo: #1D232A;
    --cabecalho: #1D232A;
    --cabecalho-mobile: #15191C;
    --menu-lateral: #15191C;
    --cartao: #2C343A;
    --fonte: #FFFFFF;
    --fonte-alternativa: #95999C;
    --links: #0480DC;
    --sombras: 0px 4px 4px rgba(0, 0, 0, 0.16);

}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Open sans', sans-serif;
    color: var(--fonte);
}

.cabecalho {
    display: flex;
}